- list comprehensions means writing a list operations in a single line


- when we apply for loop and conditional statement the processing time will be increase


- List comprehensions reduce the processing time

**Case-1:only for loop**

In [2]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[<write your code>]
l=[<output><for loop>]

# output variable = i
# for loop : for i in range(10)

In [3]:
l= [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# q1
import string
l=['hyd','bengaluru','mumbai','chennai']
output = []
for i in l:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [20]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [i.capitalize() for i in input1]
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [5]:
# q2
import string
l=['hyd','bengaluru','mumbai','chennai']
output = []
for i in l:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [21]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [i.upper() for i in input1]
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [11]:
# q3
import string
l=['hyd','bengaluru','mumbai','chennai']
# output = []
for i in l:
    output = 10*(l.index(i))
    print(output)

0
10
20
30

In [22]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [input1.index(i)*10 for i in input1]
output

[0, 10, 20, 30]

**Valrus operator**

In [14]:
# q4
import string
l=['hyd','bengaluru','mumbai','chennai']
summ = 0
for i in l:
    ind = l.index(i)
    summ=summ+ind
    
summ

6

In [25]:
# q5
l=['hyd','bengaluru','mumbai','chennai']
summ = 0
l = [summ:=summ+l.index(i) for i in l]
l

[0, 1, 3, 6]

In [15]:
# q5
summ = 0
for i in range (1,11):
    summ= summ+i
print(summ)

55

In [24]:
# q5
summ = 0
l = [summ:=summ+i for i in range(1,11)]
l

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

**case-2: for-if**

In [ ]:
case-1: [<output> <foor loop>]
case-2: [<output> <foor loop> <if condition>]

In [29]:
# q5
input1 = ['hyd','benga#luru','mumbai','chen#nai'] 
for i in input1:
    if '#' in i:
        print(i)

benga#luru
chen#nai

In [31]:
# q5
output =[i for i in input1 if '#' in i]
output

['benga#luru', 'chen#nai']

In [32]:
# q6
input1 = ['hyd','benga#luru','mumbai','chen#nai'] 
for i in input1:
    if '#' not in i:
        print(i)

hyd
mumbai

In [33]:
# q6
output =[i for i in input1 if '#' not in i]
output

['hyd', 'mumbai']

**Case-3: for-if-else**

In [ ]:
case-1: [<output> <foor loop>]
case-2: [<output> <foor loop> <if condition>]
case-3: [<if output> <if condition> else <else output> <for loop>]

In [41]:
output = []
for i in range(1,19):
    if i % 2==0:
        output.append(i)
        print()
    else:
        output.append(i)
output

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [42]:
output=[]
numl = [f'{i}:even' if i%2==0 else odd.append(i) for i in range(1,19) ]
numl

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]