- list comprehensions means writing a list operations in a single line


- when we apply for loop and conditional statement the processing time will be increase


- List comprehensions reduce the processing time

**Case-1:only for loop**

In [2]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[<write your code>]
l=[<output><for loop>]

# output variable = i
# for loop : for i in range(10)

In [3]:
l= [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# q1
import string
l=['hyd','bengaluru','mumbai','chennai']
output = []
for i in l:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [20]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [i.capitalize() for i in input1]
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [5]:
# q2
import string
l=['hyd','bengaluru','mumbai','chennai']
output = []
for i in l:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [21]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [i.upper() for i in input1]
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [11]:
# q3
import string
l=['hyd','bengaluru','mumbai','chennai']
# output = []
for i in l:
    output = 10*(l.index(i))
    print(output)

0
10
20
30

In [22]:
input1 = ['hyd','bengaluru','mumbai','chennai']
output = [input1.index(i)*10 for i in input1]
output

[0, 10, 20, 30]

**Valrus operator**

In [14]:
# q4
import string
l=['hyd','bengaluru','mumbai','chennai']
summ = 0
for i in l:
    ind = l.index(i)
    summ=summ+ind
    
summ

6

In [25]:
# q5
l=['hyd','bengaluru','mumbai','chennai']
summ = 0
l = [summ:=summ+l.index(i) for i in l]
l

[0, 1, 3, 6]

In [15]:
# q5
summ = 0
for i in range (1,11):
    summ= summ+i
print(summ)

55

In [24]:
# q5
summ = 0
l = [summ:=summ+i for i in range(1,11)]
l

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

**case-2: for-if**

In [ ]:
case-1: [<output> <foor loop>]
case-2: [<output> <foor loop> <if condition>]

In [29]:
# q5
input1 = ['hyd','benga#luru','mumbai','chen#nai'] 
for i in input1:
    if '#' in i:
        print(i)

benga#luru
chen#nai

In [31]:
# q5
output =[i for i in input1 if '#' in i]
output

['benga#luru', 'chen#nai']

In [32]:
# q6
input1 = ['hyd','benga#luru','mumbai','chen#nai'] 
for i in input1:
    if '#' not in i:
        print(i)

hyd
mumbai

In [33]:
# q6
output =[i for i in input1 if '#' not in i]
output

['hyd', 'mumbai']

**Case-3: for-if-else**

In [ ]:
case-1: [<output> <foor loop>]
case-2: [<output> <foor loop> <if condition>]
case-3: [<if output> <if condition> else <else output> <for loop>]

In [44]:
output = []
for i in range(1,19):
    if i % 2==0:
        output.append(f"{i}:even")
        print()
    else:
        output.append(f"{i}:odd")
output

['1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd',
 '10:even',
 '11:odd',
 '12:even',
 '13:odd',
 '14:even',
 '15:odd',
 '16:even',
 '17:odd',
 '18:even']

In [43]:
numl = [f'{i}:even' if i%2==0 \
        else f'{i}:odd' \
        for i in range(1,19) ]
numl

['1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd',
 '10:even',
 '11:odd',
 '12:even',
 '13:odd',
 '14:even',
 '15:odd',
 '16:even',
 '17:odd',
 '18:even']

**case-4: for-if-elif-else**

- there is no elif concept in list comprehensions


- elif will be write as else+if


- elif condition elif output: else, if cond, outout

In [ ]:
case-1: [<output> <foor loop>]
case-2: [<output> <foor loop> <if condition>]
case-3: [<if output> <if condition> else <else output> <for loop>]
case-4: [<if output> <if condition> else <elif outpt> <if condition> else <else output> <for loop>]

In [46]:
input1 = [50,47,89,92,66]

[f'{i}:A grade' if i>=70\
else f'{i}:B grade' if i>=50\
else f'{i}:C grade' for i in input1]

['50:B grade', '47:C grade', '89:A grade', '92:A grade', '66:B grade']

In [49]:
# a
input1 = [45,76,89,53,67,90,83,49,33,99]
for i in input1:
    if i>= 50:
        print(f'{i} is passed')
    else:
        print(f'{i} is failed')

45 is failed
76 is passed
89 is passed
53 is passed
67 is passed
90 is passed
83 is passed
49 is failed
33 is failed
99 is passed

In [48]:
# a
passed = [f'{i} is passed' if i>=50 for i in input1]
passed

['76 is passed',
 '89 is passed',
 '53 is passed',
 '67 is passed',
 '90 is passed',
 '83 is passed',
 '99 is passed']

In [50]:
# b
input1 = [45,76,89,53,67,90,83,49,33,99]
[f'{i}:A grade' if i>=85\
else f'{i}:B grade' if i>=70\
else f'{i}:C grade' if i>=69\
else f'{i}:F grade' for i in input1]

['45:F grade',
 '76:B grade',
 '89:A grade',
 '53:F grade',
 '67:F grade',
 '90:A grade',
 '83:B grade',
 '49:F grade',
 '33:F grade',
 '99:A grade']

In [54]:
# c
input1 = [45,76,89,53,67,90,83,49,33,99]
for i in input1:
    if i<50:
        print(f'{i}:{i+5}')

grace = [f'{i}:{i+5}' for i in input1 if i<50]
grace

45:50
49:54
33:38

['45:50', '49:54', '33:38']

In [57]:
# d
input1 = [45,76,89,53,67,90,83,49,33,99]
input1.sort()
input1

In [ ]:
# e
countt = 0
for i in input1: