**Case-1**

In [2]:
print(10)
print(20)
print(30)

10
20
30

In [3]:
10 
20
30

30

**case-2**

In [4]:
10,20,30 #tuple

(10, 20, 30)

In [5]:
print(10, 20, 30)

10 20 30

**case-3**

In [11]:
number1 = 10
number2 = 20
add = number1+number2
print(number1)
print(number2)
print(add)

10
20
30

In [12]:
print('number1:',number1)
print('number2:',number2)
print('add:',add)

number1: 10
number2: 20
add: 30

In [17]:
print('the addition of ',number1,'and',number2,'is',add)

the addition of  10 and 20 is 30

In [20]:
name = 'swagat'
age = 24
city = 'bhubaneswar'
print('My name ',name,'I came from',city,'I am ',age,'years old')

My name  swagat I came from bhubaneswar I am  24 years old

**Case-4: format operator**

In [24]:
number1 = 10
number2 = 20
add = number1+number2
print('The addition number1 and number2 is add')
print('The addition {} and {} is {}')
print('The addition {} and {} is {}'.format(number1,number2,add))

The addition number1 and number2 is add
The addition {} and {} is {}
The addition 10 and 20 is 30

- First fix the statement in your mind
- then apply the curly braces wherever you want replace the variables
- then use format operator

In [26]:
name = 'swagat'
age = 24
city = 'bhubaneswar'
print('My name is {} I came from {} I am {} years old'.format(name,city,age))

My name is swagat I came from bhubaneswar I am 24 years old

**Case-5: f string**

In [27]:
number1 = 10
number2 = 20
add = number1+number2
print('The addition number1 and number2 is add')
print('The addition',number1,'and',number2,'is',add)
print('The addition {} and {} is {}'.format(number1,number2,add))
print(f'The addition {number1} and {number2} is {add}')

The addition number1 and number2 is add
The addition 10 and 20 is 30
The addition 10 and 20 is 30
The addition 10 and 20 is 30

In [28]:
name = 'swagat'
age = 24
city = 'bhubaneswar'
print(f'My name is {name} I came from {city} I am {age} years old')

My name is swagat I came from bhubaneswar I am 24 years old

**Case-6:  end operator**

In [29]:
print('hello')
print('Good evening')

hello
Good evening

- two print statements we can combine using **end**

In [31]:
print('hello',end=' ')
print('good evening')

hello good evening

In [32]:
print('good',end='---->')
print('evening')

good---->evening

In [34]:
print(10,end =' ')
print(20)
print(30)

10 20
30

In [36]:
print(10,end =' ')
print(20,end =' ')
print(30)

10 20 30

**Case-7: separate operator**

In [39]:
print(10,20,30)

10 20 30

In [42]:
print(10,20,30,sep ='---> ')
# print(20,sep='---> ')
# print(30)

10---> 20---> 30