**Lambda Function**

In [ ]:
- case-1: [<output> <for loop>]  
- case-2: [<if output> <if conditions> <for loop>]  
- case-3: [<if output> <if conditions> else <else output> <for loop>]  
- case-4: [<if output> <if conditions> else <if out> <if condition> else <else output> <for loop>]

**lambda functions**


- lambda  functions gives an idea to write a function in a single line


- it is also a function


- it also has some arguments and output




**pattern-1: Function with one arguments**

In [1]:
def mul(a):
    return(a*a)

mul(10)

100

In [ ]:
# syntax
# <function name > = lambda <arg name > : <return output>
# function name = mul
# arg name = a
# return output = a*a

In [8]:
mul = lambda a : a*a
mul(30)

900

In [9]:
cube = lambda a:a*a*a
cube(10)

1000

In [10]:
add = lambda a,b : a+b
add(10,20)

30

In [14]:
avg = lambda a,b,c : round((a+b+c)/3,2)
avg(10,20,32)

20.67

In [16]:
avg = lambda a,b,c = 7 : round((a+b+c)/3,2)
avg(10,20)

12.33

**pattern - 3: if and else**

In [18]:
def greater(x,y):
    if x>y:
        return (x)
    else:
        return(y)
greater(19,29)

29

In [ ]:
# <function name > = lambda <arg1>,<arg2> : <if out> <if condition> else <esle output>

In [20]:
great = lambda x,y : x if x>y else y
great(90,28)

90

**patern-5: using lists**

In [21]:
l = ['hyd','mumbai','pune','chenai','bangalore']
out = []
for i in l:
    out.append(i.capitalize())
out

['Hyd', 'Mumbai', 'Pune', 'Chenai', 'Bangalore']

In [22]:
# step-1 : 
# lambda <variable>: <output>
lambda i:i.capitalize()

In [23]:
# step-2:
# # lambda <variable>: <output>,<list>
l = ['hyd','mumbai','pune','chenai','bangalore']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>,
 ['hyd', 'mumbai', 'pune', 'chenai', 'bangalore'])

**map**

In [24]:
# step-3:
# map( lambda <variable>: <output>,<list>)
l = ['hyd','mumbai','pune','chenai','bangalore']
map(lambda i:i.capitalize(),l)

In [25]:
# step-4:
# list(map( lambda <variable>: <output>,<list>))
l = ['hyd','mumbai','pune','chenai','bangalore']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Mumbai', 'Pune', 'Chenai', 'Bangalore']

In [30]:
li = ['odisha','bhubaneswar','balasore','cuttack']
lambda i:i.capitalize()

In [31]:
li = ['odisha','bhubaneswar','balasore','cuttack']
lambda i:i.capitalize(),li

(<function __main__.<lambda>(i)>,
 ['odisha', 'bhubaneswar', 'balasore', 'cuttack'])

In [32]:
li = ['odisha','bhubaneswar','balasore','cuttack']
map(lambda i:i.capitalize(),li)

In [34]:
li = ['odisha','bhubaneswar','balasore','cuttack']
list(map(lambda i:i.capitalize(),li))

['Odisha', 'Bhubaneswar', 'Balasore', 'Cuttack']

In [35]:
l=['hyd','bangalore','mumbai','chenai',]
list(map(lambda i:i.upper(),l))

['HYD', 'BANGALORE', 'MUMBAI', 'CHENAI']

In [43]:
l=['hyd','bangalore','mumbai','chenai',]
list(map(lambda i:10*l.index(i),l))

[0, 10, 20, 30]

In [54]:
l=['hyd','bangalore','mumbai','chenai',]
i = 
list(map(lambda i:i+l.index(i),l))

TypeError: can only concatenate str (not "int") to str

In [60]:
l=['hyd','bang#alore','mumbai','chen#nai',]
output = []
for i in l:
    if '#' in i:
        output.append(i)  
output

['bang#alore', 'chen#nai']

In [59]:
list(map(lambda i :'#' in i,l))

[False, True, False, True]

**filter**

- instead of map apply the filter


- filter will extract the true values

In [61]:
list(filter(lambda i :'#' in i,l))

['bang#alore', 'chen#nai']

In [63]:
out = 0
for i in range (1,11):
    out = out+i
out

55

In [68]:
summ = 0
[summ:=summ+i for i in range(1,11)][-1]

55

**Reduce**


- reduce is a method under function tools


- it takkes list as input


- means sum of list


- if you want to perform math operation(min,max,sum) go with reduce

In [72]:
from random import *
s = randint(1,100)
s

60

In [ ]:
from functiontool import reduce

lambda summ,i : summ+i
lambda summ,i : summ+i,list
reduce(lambda summ+i: summ+i,list)

In [78]:
from functools import reduce
list1 = [10,20,30,40,50]
reduce(lambda summ,i : summ+i,list1)

150

In [80]:
lambda summ,i : summ+i
lambda summ,i : summ+i, list1 # 0
lambda summ,i : summ+i,list1,100 #starts with 100

reduce(lambda summ,i : summ+i, range(1,11),100)

155