In [5]:
names = ['Ramesh','suresh','mahesh']
age = [20,22,24]

for i in range(len(names)):
    print(f'{names[i]} age is: {age[i]}')

Ramesh age is: 20
suresh age is: 22
mahesh age is: 24

In [6]:
l1 =[10,20,22]
l2 = [11,21,23]
l = []
for i in range(len(l1)):
    l.append(l1[i]+l2[i])
l

[21, 41, 45]

In [16]:
l1 =[10,20,22,32,42]
l2 = [11,21,23]
min_len = min(len(l1),len(l2))
l = []
if len(l1)>len(l2):
    for i in range(len(l1)):
        if i<len(l2):
            l.append((l1[i]+l2[i]))
        else:
            l.append(l1[i])
#     for i in range(min_len):
#         l.append(l1[i]+l2[i])
#         l.extend(l1[min_len:])
        
l

[21, 41, 45, 32, 42]

In [22]:
import math
v1 = (3,5)
v2 = (10,20)

dist = math.sqrt(pow((v2[0]-v1[0]),2) + pow((v2[1]-v1[1]),2))
dist

for i in range(len(v1)):
    print(f'{v1[i]}:x{i+1},{v2[i]}:y{i+1}')

3:x1,10:y1
5:x2,20:y2

In [23]:
import numpy as np
x1,y1 = v1[0],v1[1]
x2,y2 = v2[0],v2[1]

sub1 = x2-x1
sub2 = y2-y1

add = np.square(sub1)+np.square(sub2)
np.sqrt(add)

16.55294535724685

In [25]:
# x2-5x+6
import math
a,b,c=1,-5,6
v1 = pow(b,2) - 4*a*c
v2 = math.sqrt(v1)
nr1,nr2 = -1*b + v2,-1*b-v2
dr = 2*a
root1,root2 = nr1/dr,nr2/dr
print(root1,root2)

3.0 2.0

**zip**

In [27]:
names = ['Ramesh','suresh','mahesh']
age = [20,22,24]

for i,j in zip(names,age):
    print(f'{i} age is: {j}')

Ramesh age is: 20
suresh age is: 22
mahesh age is: 24

**Dictionary**

- dictionary is a key:value pair


- whenever any values are coming together then think about dictionary


- dictionary is in curly braces with pair {key:value}


- in above example : {'Ramesh':20,'Suresh':22,'Mahesh':24}


- **keys always plays a vital role**

In [28]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [29]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
type(dict1)

dict

In [31]:
dict2 = {20:'Ramesh',22:'Suresh',24:'Mahesh'}
dict2

{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

In [34]:
dict1 = {['Ramesh']:20,'Suresh':22,'Mahesh':24}
dict1

TypeError: unhashable type: 'list'

In [37]:
dict1 = {('Ramesh'):20,('Suresh'):22,('Mahesh'):24}
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [38]:
dict3 = {'20':'Ramesh','22':'Suresh','24':'Mahesh'}
dict3

{'20': 'Ramesh', '22': 'Suresh', '24': 'Mahesh'}

In [39]:
divc={}
divc

{}

In [40]:
divc={{'Ramesh':20}:21}
divc

TypeError: unhashable type: 'dict'

In [41]:
dict4 = {20:20,22:22,24:24}
dict4

{20: 20, 22: 22, 24: 24}

In [1]:
divc={'Ramesh':20}
divc

{'Ramesh': 20}

**min**

In [2]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}

In [3]:
min(dict1)

'Mahesh'

In [4]:
max(dict1)

'Suresh'

In [5]:
len(dict1)

3

In [6]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
sorted(dict1)

['Mahesh', 'Ramesh', 'Suresh']

In [9]:
list(reversed(dict1))

['Mahesh', 'Suresh', 'Ramesh']

In [11]:
dict1+divc

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [13]:
dict1.clear()
dict1

{}

In [79]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
dct = dict1.copy()
dct

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [55]:
dict1.get('Ramesh')

20

In [56]:
dict1.items()

dict_items([('Ramesh', 20), ('Suresh', 22), ('Mahesh', 24)])

In [57]:
dict1.keys()

dict_keys(['Ramesh', 'Suresh', 'Mahesh'])

In [77]:
dict2 = {'Ramesh':20,'Suresh':22,'Mahesh':24,'Ramesh':90,'sukesh':99}
dict2.pop('Mahesh')
dict2

{'Ramesh': 90, 'Suresh': 22, 'sukesh': 99}

In [81]:
dicto = {'Ramesh':20,'Suresh':22,'Mahesh':24,'Ramesh':90,'sukesh':99}
dicto.popitem()
dicto

{'Ramesh': 90, 'Suresh': 22, 'Mahesh': 24}

In [83]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
dictt = {'sirish':76}
dict1.update(dictt)
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24, 'sirish': 76}

In [84]:
dicto = {'Ramesh':20,'Suresh':22,'Mahesh':24,'Ramesh':90,'sukesh':99}
dicto.setdefault('satish')
dicto

{'Ramesh': 90, 'Suresh': 22, 'Mahesh': 24, 'sukesh': 99, 'satish': None}

In [74]:
dicto = {'Ramesh':20,'Suresh':22,'Mahesh':24,'Ramesh':90,'sukesh':99}
dicto.values()
dicto

{'Ramesh': 90, 'Suresh': 22, 'Mahesh': 24, 'sukesh': 99}

In [76]:
dicto = {'Ramesh':20,'Suresh':22,'Mahesh':24,'Ramesh':90,'sukesh':99}
dicto.fromkeys()
# dicto.items()

dict_items([('Ramesh', 90), ('Suresh', 22), ('Mahesh', 24), ('sukesh', 99)])

**How to add values in empty**

- strings


- list


- dictionary

In [85]:
s=''
s = s+'A'
s

'A'

In [86]:
l = []
l.append(10)
l

[10]

In [88]:
d = {}
d['Ramesh'] = 20
d['suresh'] = 90
d

{'Ramesh': 20, 'suresh': 90}

**index**

In [26]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1[0]

KeyError: 0

In [27]:
dict1 = {'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1['Ramesh']

20

In [33]:
for i in dict1:
    print(f'{i} age is {dict1[i]}.')

Ramesh age is 20.
Suresh age is 22.
Mahesh age is 24.

In [35]:
d = {'fruits':['Apple','Banana','Mango']}
d['fruits'][2]

'Mango'

In [38]:
d = {'fruits':[{'items':['Apple','cherry']}]}
d['fruits'][0]['items'][1]

'cherry'

In [40]:
d = {'Fruits':{'orange':{'Nagpur':{'MH':{'shivaji':{'shambaji':{'chava':{'Vicky'}}}}}}}}
d['Fruits']['orange']['Nagpur']['MH']['shivaji']['shambaji']['chava']

{'Vicky'}

In [41]:
d = {'Fruits':
     {'orange':
      {'Nagpur':
       {'MH':
        {'shivaji':
         {'shambaji':
          {'chava':
           {'Vicky'
           }
          }
         }
        }
       }
      }
     }
    }