In [1]:
import random
l = []
for i in range(1,4):
    num = random.randint(10,100)
    power = pow(num,2)
    print(f'{num} : {power}')
    l.append(power)
l

29 : 841
22 : 484
55 : 3025

[841, 484, 3025]

In [2]:
l= [10,23,45,88,97]
even = []
odd = []
for i in l:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
even,odd

([10, 88], [23, 45, 97])

 Q3) input=['hyd','bengaluru','mumbai','chennai']
     output=['Hyd','Bengaluru','Mumbai','Chennai']

In [1]:
# q3
import string
capital =[]
l = ['hyd','bengaluru','mumbai','chenai']
for i in l:
    capital.append(i.capitalize())
    
capital

['Hyd', 'Bengaluru', 'Mumbai', 'Chenai']

Q4) input=['hyd','bengaluru','mumbai','chennai']
     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [2]:
# q4
import string
capital =[]
l = ['hyd','bengaluru','mumbai','chenai']
for i in l:
    capital.append(i.upper())
    
capital

['HYD', 'BENGALURU', 'MUMBAI', 'CHENAI']

Q5) input=['hyd','beng#aluru','mumbai','chen#nai']
     output=['beng#aluru','chen#nai']

In [3]:
# q5
capital =[]
l = ['hyd','benga#luru','mumbai','chen#nai']
for i in l:
    if '#' in i:
        capital.append(i)
    
capital

['benga#luru', 'chen#nai']

Q6) input=['hyd','beng#aluru','mumbai','chen#nai']
     output=['hyd','mumbai']

In [4]:
# q5
capital =[]
l = ['hyd','benga#luru','mumbai','chen#nai']
for i in l:
    if '#' not in i:
        capital.append(i)
    
capital

['hyd', 'mumbai']

Q7) str1='hai how are you'
     output=['HAI','HOW','ARE','YOU']

In [5]:
# q7
str1 = 'hai how are you'
new = list(str1.split(' '))
capital= []
for i in new:
    capital.append(i.upper())
    
capital

['HAI', 'HOW', 'ARE', 'YOU']

Q8) str1='hai how are you'
     ans='Hai How Are You'   with out Title method

In [6]:
# q8
str1 = 'hai how are you'
new = list(str1.split(' '))
capital= []
final = []
for i in new:
    capital.append(i.capitalize())
final = ' '.join(capital)
final

'Hai How Are You'

Q9) str1='virat.kohli@rcb.com,rohit.sharma@mi.com,ms.dhoni@csk.com'
     fname=['virat','rohit','ms']  sname=['kohli','sharma','dhoni']
     cname=['rcb','mi','csk']

In [6]:
str1='virat.kohli@rcb.com,rohit.sharma@mi.com,ms.dhoni@csk.com'
fname = []
sname = []
cname = []

vir = str1.split(',')
# print(vir)
for i in vir:
    local,domain = i.split('@')
    first,second = local.split('.')
    fname.append(first)
    sname.append(second)
    
    dom,ext = domain.split('.')
    cname.append(dom)
print(f'fname = {fname}')
print(f'sname = {sname}')
print(f'cname = {cname}')

fname = ['virat', 'rohit', 'ms']
sname = ['kohli', 'sharma', 'dhoni']
cname = ['rcb', 'mi', 'csk']

Q10) Find the most reperated word in a given string

In [42]:
str2 = 'hello world hello python world hello'
words = str2.split()

out=[]
p=[]
l=[]

for i in words:
    c=str.count(str2,i)
    out.append(c)
   

for i in zip(out,words):
    p.append(i)
count,word = max(p)
print(word)

hello

Q11) Find the longest word in a given string

In [43]:
str2 = 'hello world hello python world hello bye'
words = str2.split()

out=[]
p=[]

for i in words:
    c=len(i)
    out.append(c)
   
out
for i in zip(out,words):
    p.append(i)
count,word = max(p)
print(word)

python

Q12) l=[1,7,5,8,17,6]
       Sort the list with out using sorted method

In [45]:
l=[1,7,5,8,17,6]
m=[]
# for i in l:
#     m.append(max(l))
#     l = l.remove(max(l))
# m
max(l)

17

 Q13) l=[1,7,5,8,17,6]
       find the largest value and second lartgest value in a given list

Q14) str1='can canner can not can you but you can canner can you'
      ouput=['can:5','canner:2','not:1','you:3','but:1']

Q15) str1='can canner can not can you but you can canner can you'
      stopwords=['not','but']
      remove the stop words in a given string
     output='can canner can can you  you can canner can you'

 Q16)
   qns_list=['who is PM of India','Who is Captain of ICT mens Crikets',
              'what is the capital of India']
   ans_list=['modi','rohit','delhi']
 for every correct answer update the marks
 print total marks

qns_list=['who is PM of India','Who is Captain of ICT mens Crikets',
          'what is the capital of India']
ans_list=['modi','rohit','delhi']
marks=0
for i in qns_list:
    ans=input(i)
    if ans in ans_list:
        print('True')