# Assignment -11 (Documentation of the below for list)

'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

**Append**

- append is use to append the object in the end of the list .

- ex: list.append(object)

In [9]:
list1 = [10,20,30,40]
list1.append(90)
list1

[10, 20, 30, 40, 90]

**Clear**

- clear is use to clear the list .

- syntax: list1.clear()

In [10]:
list1.clear()
list1

[]

**copy**

- copy is used to copy a list to a another empty list  

- syntax: newlist = list1.copy()

In [11]:
list1 = [10,20,30,40]
list2 = list1.copy()
list2

[10, 20, 30, 40]

**count**

- count is used to count the occurance of an object in a list

- syntax: list = [10,20,30,40,50,10,30,10]  
            list.count(10)
- output : 3

In [15]:
list3 = [10,20,30,40,10]
list3.count(10)

2

**Extend**

- extend is used to exend a list by adding another list 


- syntax:  
list1 = [10,20,30,40]  
list2 = [30,40,50,60]
list1.extend(list2)
list1

- output: [10,20,30,40,30,40,50,60]

In [18]:
list1.extend(list3)
list1

[10, 20, 30, 40, 10, 20, 30, 40, 10]

**index**

- list4.index(value, start=0, stop=9223372036854775807, /)
- return the first index value of the input between the starting point


- Return first index of value if input is 
- list.index(object)


- **Raises ValueError if the value is not present.**

In [2]:
list4 = [10,20,30,40,10,50]
position_list = list4.index(30)
position_list

2

In [29]:
list4 = [10,20,30,40,10,50,30]
position_list = list4.index(30,3)
position_list

6

**insert**

- insert is used to insert an object to a list in the specified location
- syntax: list.insert(index number,element)

In [31]:
list4.insert(3,70)
list4

[10, 20, 30, 70, 40, 10, 50, 30]

**pop**

- pop is used to delete the last object of the list
- list.pop()

In [32]:
list4.pop()
list4

[10, 20, 30, 70, 40, 10, 50]

**remove**
- remove is used to remove the declared object where it meet first in the list.  
- Raises ValueError if the value is not present.

In [33]:
list4.remove(10)
list4

[20, 30, 70, 40, 10, 50]