- we taken the hardcodeed values

- then we taken the values from user **input**

- we observed the user input values by default string datatype

- we did **type casting**

- we performed **int**

In [1]:
n1 = eval(input('enter the n1 :'))
n2 = eval(input('enter the n2 :'))
n3 = eval(input('enter the n3 :'))

avg = (n1+n2+n3)/3

print(f'The average of {n1},{n2} and {n3} is : {avg}')

enter the n1 :10
enter the n2 :20
enter the n3 :30
The average of 10,20 and 30 is : 20.0

In [2]:
n1 = input('enter the n1 :')
n2 = input('enter the n2 :')

add = eval(n1) +eval(n2)

print(add)

enter the n1 :10
enter the n2 :20
30

In [3]:
n1 = eval(input('enter the n1 :'))
n2 = eval(input('enter the n2 :'))
n3 = eval(input('enter the n3 :'))

avg = (n1+n2+n3)/3

print(f'The average of {n1},{n2} and {n3} is : {avg}')

enter the n1 :10
enter the n2 :11
enter the n3 :17
The average of 10,11 and 17 is : 12.666666666666666

**Round**

In [4]:
round(12.6666666666666)

13

In [5]:
# round(value,n)
round(12.666,1)

12.7

In [6]:
# round(value,n)
round(12.6666666,2)

12.67

In [7]:
n1,n2,n3 = 10,11,17
avg = (n1+n2+n3)/3
avg1 = round(avg,2)
avg1

12.67

In [8]:
n1,n2,n3 = 10,11,17
avg = round((n1+n2+n3)/3,2)
avg

12.67

In [9]:
n1,n2,n3 = 10,11,17
avg = round((n1+n2+n3)/3)
avg

13

In [ ]:
name = input('Enter your name :')
city = input('Enter your city :')
enroled = input('Enter your enroled course name : ')
payment_amount = eval(input('Enter the amount you have payed : '))
degree = input('Enter your highest qualification degree :')

print(f'Name : {name}')
print(f'city : {city}')
print(f'course : {enroled}')
print(f'payment amount : {payment_amount}'/- only)
print(f'degree : {degree}')